* {
  margin: 0px;
}

.home-container {
  position: absolute;
  /* text-align: center; */
  top: 100px;
  left: 50px;
}

.home-container h1 {
  font-weight: 400px;
  font-size: 40px;
}

.img-container {
  position: absolute;
  top: 250px;
  left: 50px;
}

.img-plant {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-right: 40px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
