.design-container {
  position: relative;
  text-align: left;
  top: 90px;
  scroll-behavior: smooth;
}

.design-container img {
  filter: grayscale(100%);
  filter: opacity(30%);
  position: absolute;
}

.design-container h1 {
margin-left: 50%;
position: absolute;

}

.graphic-plant {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: opacity(0.3) ;
}

.design-bg {
  position: fixed;
  background-color: rgba(255, 188, 169, 0.5);
  width: 100%;
  height: 80px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}

.design-content {
  text-align: left;
  position: absolute;
  top: 160px;
  left: 20px;
  line-height: 25px;
}

.indoor-plant {
  line-height: 30px;
  position: relative;
  align-items: center;
}

.indoor-site {
  position: absolute;
  margin-left: 30px;
  text-align: center;

}

.indoor-site h2 {
  color: black;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(163, 180, 145, 0.5);
  padding: 10px;
  border-radius: 30px;
}


.site-1 {
  position: relative;
  top: 10px;
  padding: 10px 30px;
  width: 300px;
  /* background-color: rgba(255, 188, 169, 0.3); */
  border-radius: 10px;
  border-style: dotted;
  border-color: rgba(0, 0, 0, 0.5);
}

.site-1 img{
  position: relative;
  width: 300px;
  height: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);

}

.site-1 a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.site-1 a:hover {
  text-decoration: underline;
  border-radius: 10px;
  padding: 5px;
}

.site-1 h4 {
  position: relative;
  text-align: left;
  font-weight: 500;
}

.indoor-design {
  position: absolute;
  right: 0px;
}

.outdoor-plant {
  position: relative;
  top: 890px;
  margin-left: 40px;
}

.outdoor-plant img{
  position: relative;
  width: 100%;
}