
.search{
  width: 30%;
  position: relative;
  top: 80px;
  
}
.search input {
  width: 100%;
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 40px;
  border-style: double;
}

input {
  margin-left: 10px;
}

input:focus {
  outline: none;
  padding: 10px 40px;
  transition: ease-in-out 0.5s;

}

#search-icon {
  position: absolute;
  top: 15px;
  right: 0px;
  color: rgb(163, 180, 145);
}
