.search-top {
  width: 100%;
}

.search{
  display: flex;
  position: fixed;
  top: 70px;
  left: 100px;
}

.search input {
  padding: 3px 180px;
  font-size: 18px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  text-align: center;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  transition: ease-in-out 0.1s;
  border-color: rgb(163, 180, 145);
  border-width: 2px;
  color: black;
}


#search-icon {
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  padding: 10px 10px;
  border-style: outset;
  border-color: black;

  position: relative;
  left: 0px;
  color: rgb(163, 180, 145);
}


.search-result-container {
  position: relative;
  top: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  text-align: left; 
  overflow-y: scroll;
  max-height: 95px;

}

.search-result {
  padding: 5px 20px;
  max-height: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.2px;
  /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1); */
  background-color:rgba(255, 255, 255, 0.501);
  display: flexbox;
  /* margin-top: 5px; */
}

.search-result:hover {
  background-color: rgb(163, 180, 145,0.7);
  font-weight: 600;
  cursor: pointer;
}

.plant-cards {
  display: none;
  margin-top: 230px;
  margin-bottom: 20px;
  position: fixed;
  left: 250px;
  display: flexbox;
  flex-direction: column;
  width: 300px;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.1);
}

ul{
  padding-inline-start: 0px;
}

.plant-cards h2 {
  text-align: center;
  background-color: rgb(163, 180, 145,0.7);
  margin-bottom: 5px;
  width: 300px;
}

.plant-cards h3 {
  font-size: 18px;
  font-weight: 200;
line-height: 30px;
padding-left: 10px;
}

.plant-cards h3:last-child {
  margin-bottom: 10px;
}
