
.footer-container {
  position: absolute;
  background-color: rgb(226, 234, 217, 0.5);
  color: rgb(120, 120, 120);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80px;
  top: 1200px;
  font-weight: 200;
  margin-top: 100px;
}

#head,
#madeBy,
#contact {
  position: absolute;
  top: 15px;
}
#head {
  left: 80px;
  font-size: 20px;
}

#madeBy {
  top: 40px;
  left: 80px;
  font-weight: 500;
}

#contact {
  top: 6px;
  right: 215px;
  font-size: 20px;
  padding: 4px;
  border: 1px;
  border-style: solid;
  border-color: rgb(120, 120, 120);
  border-radius: 10px;
}
#contact:hover {
  background-color: rgb(255, 169, 169, 0.5);
}

.contact-container {
  list-style: none;
  right: 50px;
  position: absolute;
  top: 10px;
}
.contact-container a {
  text-decoration: none;
  color: rgb(120, 120, 120);
}

.contact-container a:hover {
  color: black;
}

.img-logo {
  position: absolute;
  width: 35px;
  height: auto;
  opacity: 50%;
  border-radius: 50%;
  padding: 5px;
  margin: 20px;
}

.github-logo,
.email-logo {
  position: relative;
  top: 6px;
  width: 22px;
  margin-right: 8px;
}
