

@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital@0;1&family=Poppins:wght@200;400;600&family=Tenor+Sans&display=swap");


  .App {
    text-align: center;
  }


body {
  font-size: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: static;
  /* background-color: rgb(226, 234, 217); */
  /* background-color: rgb(163, 180, 145); */
  /* background-color: #fff; */
  min-height: 100vh;
}

.web-logo {
  /* background-color: rgb(255, 169, 169); */
  padding: 5px 10px;
  position: fixed;
  width: 40px;
  height: auto;
  top: 10px;
  left: 20px;
  /* margin: 10px; */
  background-color: #fff;
  border-radius: 30%;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
